.espacio{
    margin-top: 40px;
}
.card{
    margin-left: 40px;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

.body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
}

.contacto{
    background: url(contacto.jpg) no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: 100px 0;
}

.conteiner{
    width: 55%;
    float: center;
    background-color: turquoise;
    padding: 150px;
}

.conteiner-h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.texto{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.seguro{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}
